*{
    margin: 0px;
    padding: 0px;
    font-family: 'poppins';
}
.orabturuvchi-two{
    display: flex;
    align-items: center;
}
.plar{
    margin-left: 35px;
    font-size: 15px;
    color: 
    #9E9AA8;
}
.button{
    width: 105px;
    height: 40px;
    border: none;
    background-color:#2BD0D0;
    font-size: 15px;
    line-height: 22.5px;
    border-radius: 40px;
}
.orabturuvchi{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container{
    max-width: 1180px;
    height: 40px;
    margin:0 auto;
}
.chap-h1{
    color:#34313D; 
    font-size: 80px;
    width: 593px;
}
.chap-p{
    width: 540px;
    font-size: 22px;
    color:#9E9AA8;
    margin-top: 20px;
}
.button-two{
    border: none;
    width: 197px;
    height: 56px;
    background-color: #2BD0D0;
    font-size: 20px;
    border-radius: 40px;
    margin-top: 40px;
}
.chap{
    margin-left: 167px;
}
.chap-va-img{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 200px;
}
.tagi{
    background-color:rgb(121, 51, 0);
    height: 270px;
    margin:0 auto;
    text-align: center;
}
.tagi-h1{
    color: white;
    font-size: 40px;
    padding-top: 90px;
}
.button-three{
    border: none;
    border-radius: 40px;
    background-color: #2BD0D0;
    width: 197px;
    height: 60.48px;
    font-size: 20px;
    color: white;
}
.navbarr{
    color: white;
    background-color: black;
    padding: 100px;
}
.fa-brands{
    margin-left:20px;
    font-size: 30px;
}
.position-img{
    position: absolute;
    top: 730px;
    left: 209.5px;
    z-index: 1;
}
input{
    width: 769px;
    height: 64px;
    border: none;
    border-radius: 10px;
    background-color: white;
    font-size: 20px;
    padding-left: 40px;
}
.button-four{
    border: none;
    border-radius: 10px;
    background-color: #2BD0D0;
    font-size: 20px;
    width: 188px;
    height: 64px;
}
.position{
    z-index: 10;
    position: absolute;
    top: 790px;
    left: 273.5px;
}
.navbar{
    margin-top: 50px;
}